<div id="pesquisa" class="panel panel-info">
  <div class="panel-heading"><b>Dicionário</b></div>
    <div class="panel-body">
      <%= form_for :search, :url => { :action => "find_word", :class => "form_control"}, :remote => true do |f| %>
        <div class="col-md-2">
          <b> Digite a palavra: </b><br/>
          <%= f.text_field :word, :required => true, :class => "form-control" %><br/>
          <%= f.submit "Encontrar significado", :class => "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="result"/>

